# PostgreSQL local Docker
POSTGRES_DB=kontora_pos
POSTGRES_USER=kontora_user
POSTGRES_PASSWORD=change_me_local_only
POSTGRES_PORT=5432

# pgAdmin local
PGADMIN_EMAIL=admin@kontorapos.com
PGADMIN_PASSWORD=change_me_admin
PGADMIN_PORT=5050